body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --body: "Sharp Sans TRIAL";
  --font-brownstd: BrownStd;
  --h2: Beatrice;
  --font-courier: Courier;

  /* font sizes */
  --font-size-smi: 0.813rem;
  --author-size: 0.875rem;
  --font-size-xs: 0.75rem;
  --font-size-lg: 1.125rem;
  --button-size: 0.938rem;
  --body-size: 1rem;
  --font-size-2xl: 1.313rem;
  --h3-size: 1.625rem;
  --h1-inner-size: 2.625rem;
  --font-size-15xl: 2.125rem;
  --font-size-6xl: 1.563rem;
  --font-size-smi-6: 0.788rem;
  --font-size-6xs-1: 0.381rem;
  --h2-size: 2rem;
  --font-size-lgi: 1.188rem;
  --h4-size: 1.25rem;

  /* Colors */
  --white: #fff;
  --new-yellow: #edba2b;
  --text-black: #161613;
  --primary-brand-pink: #ef5d62;
  --color-firebrick-100: #d64547;
  --caption: #b0aeae;
  --reliable-colors-text-body: #2a4054;
  --reliable-colors-illustration-orange: #fef2ef;
  --grey: #afc2d0;
  --reliable-colors-border: #ddd;
  --color-black: #000;

  /* Gaps */
  --gap-base: 1rem;
  --gap-4xl: 1.437rem;
  --gap-xl: 1.25rem;
  --gap-sm: 0.875rem;
  --gap-lg: 1.125rem;
  --gap-14xl: 2.062rem;
  --gap-12xl: 1.937rem;
  --gap-mini: 0.937rem;
  --gap-197xl: 13.5rem;
  --gap-20xl: 2.437rem;
  --gap-52xl-3: 4.456rem;
  --gap-17xl: 2.25rem;
  --gap-smi: 0.812rem;
  --gap-mid: 1.062rem;
  --gap-37xl: 3.5rem;
  --gap-9xl: 1.75rem;
  --gap-8xs: 0.312rem;
  --gap-3xs: 0.625rem;
  --gap-7xl: 1.625rem;
  --gap-15xl: 2.125rem;
  --gap-xs: 0.75rem;
  --gap-9xs: 0.25rem;

  /* Paddings */
  --padding-5xl-5: 1.531rem;
  --padding-xl: 1.25rem;
  --padding-3xs: 0.625rem;
  --padding-5xs: 0.5rem;
  --padding-12xs: 0.062rem;
  --padding-2xl: 1.312rem;
  --padding-9xs: 0.25rem;
  --padding-7xs: 0.375rem;
  --padding-8xs: 0.312rem;
  --padding-10xs: 0.187rem;
  --padding-smi: 0.812rem;
  --padding-19xl: 2.375rem;
  --padding-40xl: 3.687rem;
  --padding-16xl: 2.187rem;
  --padding-10xl: 1.812rem;
  --padding-17xl: 2.25rem;
  --padding-xs: 0.75rem;
  --padding-7xl: 1.625rem;
  --padding-mini: 0.937rem;
  --padding-lg: 1.125rem;
  --padding-sm: 0.875rem;
  --padding-4xl: 1.437rem;
  --padding-11xs: 0.125rem;
  --padding-sm-2: 0.825rem;
  --padding-6xs: 0.437rem;
  --padding-2xs: 0.687rem;
  --padding-24xl: 2.687rem;
  --padding-18xl: 2.312rem;
  --padding-5xl: 1.5rem;
  --padding-6xl: 1.562rem;
  --padding-9xl: 1.75rem;
  --padding-101xl: 7.5rem;
  --padding-42xl: 3.812rem;
  --padding-32xl: 3.187rem;
  --padding-45xl: 4rem;
  --padding-4xs: 0.562rem;
  --padding-8xl: 1.687rem;
  --padding-11xl: 1.875rem;
  --padding-113xl: 8.25rem;
  --padding-12xl: 1.937rem;
  --padding-43xl: 3.875rem;
  --padding-7xs-3: 0.331rem;

  /* Border radiuses */
  --br-9xs: 4px;
  --br-8xs-4: 4.4px;
  --br-9xs-9: 3.9px;

  /* Effects */
  --button-shadow: 0px 15px 30px rgba(239, 93, 98, 0.2);
  --shadow-testimonial: 0px 15.5px 42px rgba(0, 0, 0, 0.1);
}
